.b-nav{
    display: flex;
    justify-content: center;
    align-items: stretch;
    transform: skewX( $skewX );

    @media (max-width: 780px){
        position: fixed;
        top: 59px;
        left: 0;
        transform: skewX( 0 );
        height: calc( 100vh - 105px );
        width: 100%;
        min-width: 320px;
        max-width: 400px;
        justify-content: flex-start;
        padding-top: 30px;
        transition: 350ms ease-in-out;

        transform: skewX( 0 ) translateX( - 100% );

        &.is-active{ transform: skewX( 0 ) translateX( 0 ); }
      }

    &__list{
        list-style: none;
        display: flex;
        align-items: stretch;
        transform: skewX(-$skewX);
        padding: 0 50px;
        
        @media (max-width: 1450px){
            padding: 0 20px;
        }
        @media (max-width: 780px){
            transform: skewX( 0 );
            flex-direction: column;
            padding: 0 10px;
        }
    }
    &__item{
        height: 100%;
        display: flex;
        align-items: stretch;
        position: relative;
        transition: 350ms ease-in;
        padding: 0 32px;
        &.is-active{
            color: $cBlue;
            a{
                border-bottom: solid 4px $cBlue;
                padding-top: 4px;
            }
        }

        @media (max-width: 1450px){
            padding: 0 12px;
        }
        @media (max-width: 780px){
            padding: 15px;
            height: auto;
        }
        
    }
    &__link{
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        @media (max-width: 780px){
            padding-bottom: 7px;
            // height: auto;
        }
    }
}



  .nav-banking-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      font-size: 0.9em;
      @media (max-width: $mobWidth){
        font-size: 1.5em;   
    }

    &__item {
        padding: 0.75em;
        @media (max-width: $mobWidth){
            padding: 0.2em 0.75em;
        }
    }
    &__link {
        color: inherit;
        text-decoration: none;
        &:hover {}
        &:active {}
        &:focus {}
      }
  }