.b-starting {
    background: $cGrey url(../../images/b-starting-bg.png) no-repeat;
    background-position: center bottom;
    // background-size: 100%;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        height: 100%;
        width: calc( 970px + 50vw - 735px );
        background-color: rgba(0,0,0, 0.05);
        transform: skewX( $skewX );
        left: calc( 735px - 50vw + 43px );
        
        @media (max-width: 1700px){
            left: calc( -1000px - 19.3vw );
            width: 2000px;
        }
        @media (max-width: 1300px){
            left: calc( -1000px - 38.3vw );
            width: 2000px;
        }
        @media (max-width: 1000px){
            display: none;
        }

    }

    &__cnt {
        padding-top: 110px;
        padding-bottom: 155px;
        position: relative;
        z-index: 1;
        
        @media (max-width: 1000px){
            padding-top: 70px;
            padding-bottom: 100px;
        }
        @media (max-width: 500px){
            padding-top: 50px;
            padding-bottom: 60px;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
    }

    &__title {
        @media (max-width: 600px){
            width: 100%;
            text-align: center;
        }
    }

    &__toggles {
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 85px;
        
        @media (max-width: 1450px){
            margin-left: auto;
            margin-right: auto;
        }
        @media (max-width: 1280px){
            width: 100%;
            order: 3;
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        @media (max-width: 600px){
            margin-top: 30px;
        }
        
        // margin-right: auto;
    }

    &__offer {
        font-weight: 700;
        margin-left: auto;
        @media (max-width: 1350px){
            font-size: 0.8em;
        }
        @media (max-width: 600px){
            width: 100%;
            text-align: center;
            font-size: 0.8em;
            margin-top: 30px;
        }
    }


    &__toggle {
        text-decoration: none;
        color: $cBlue;
        // font-size: 1.5em;
        padding: 20px 28px; 
        text-align: center;
        margin: 0 10px;
        &.is-active, &:hover{
            border-bottom: 3px solid currentColor;
        }
        &_seller {}
        &_customer {}

        @media (max-width: 500px){
            font-size: 0.7em;
            padding: 5px; 
        }
    }

    &__body {
        width: 100%;
        margin-top: 60px;
        @media (max-width: 600px){
            margin-top: 40px;
        }
    }


    &__steps {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &_seller {}

        &_customer {}
    }


    &-step {
        position: relative;
        width: 25%;
        height: 360px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        padding: 100px 20px 20px 55px;
        text-decoration: none;
        color: black;
        background-color: white;
        border: solid 1px $cGrey;
        margin-left: -1px;
        z-index: 1;
        will-change: color, background-color;
        transition: 500ms ease-out;
        
        @media (max-width: 1400px){
            height: calc( 25vw - 7px );
            padding: 50px 20px 20px 40px ;
        }
        @media (max-width: 1000px){
            height: calc( 25vw - 7px );
            padding: 50px 20px 20px 20px ;
        }
        @media (max-width: 850px){
            width: 35%;
            height: calc( (50vw - 15px) * 0.7 );
            padding: 50px 20px 20px 20px ;
        }
        @media (max-width: 700px){
            width: 40%;
            height: calc( (50vw - 15px) * 0.8 );
        }
        @media (max-width: 500px){
            width: 260px;
            height: 220px;
            padding: 40px 20px 20px 20px ;
        }

        &_1{
            background-repeat: no-repeat;
            background-position: right center;
            background-image: url();
        }

        &:before{
            opacity: 0;
            content: '';
            position: absolute;
            left: 15px;
            top: 15px;
            background-color: white;
            width: 30px;
            height: 30px;
            @include mask('../../images/triangle.svg');
            @include mask-size(contain);
            @include mask-pos(left);
            @include mask-rep(no-repeat);    
            transition: inherit;    
            @media (max-width: 500px){
                width: 20px;
                height: 20px;
                left: 10px;
                top: 10px;
            }    
        }


        

        &__title {
            font-size: 2em;
            font-weight: 200;
            color: #878787;
            position: relative;
            z-index: 2;
            @media (max-width: 1000px){
                font-size: 1.5em; 
            }
        }

        &__desc {
            margin-top: 30px;
            font-size: 1.125em;
            position: relative;
            z-index: 2;
            @media (max-width: 1000px){ 
                font-size: 1em; 
                margin-top: 1px;
            }
        }
        &__img{
            position: absolute;
            max-height: 80%;
            max-width: 100%;
            right: 0;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            transition: inherit;
            opacity: 0;
        }
        &:hover{
            z-index: 2;
            transition: 500ms ease-in;
            border-color: $cBlue;
            background-color: $cBlue;
            color: white;
            span{
                color: inherit !important;
            }
            img{
                opacity: 1;
            }
            &:before{
                opacity: 1;
            }
        }
    }
}


  